<mat-nav-list>
    <div >
        <img class="logo" src="../../../../assets/logo.jpg" alt="loan check">
        <mat-divider></mat-divider>
        <h2 class="mat-subheader">Welcome {{ firstName }} {{ lastName }}</h2>
    </div>
</mat-nav-list>
