:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }

  .logo {
    padding-left: 30px;
    width: 230px;
    height: 180px;
    background-size: cover;
  }

  .mat-divider {
    border-top-width: 1px;
    border-color: white;
  }

  .mat-subheader {
    color: #818cf8;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
  }