<mat-toolbar color="primary" class="expanded-toolbar">
  <mat-toolbar-row>
    <span class="positronx">
      <button mat-button routerLink="/">{{title}}</button>
    </span>
    <div fxFlex fxLayout="Row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
            <mat-icon>power_settings_new</mat-icon>
            Login
          </button>
        </li>
        <li>
          <button mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
          </button>
        </li>
        <li>
          <button mat-button *ngIf="isAuthenticated" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </li>
      </ul>

    </div>
  </mat-toolbar-row>

</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container>
    <mat-drawer *ngIf="isAuthenticated" mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


<mat-divider></mat-divider>

<app-footer></app-footer>