.page {
  color: rgb(109, 18, 228);
  padding: 0 1rem;
  background: whitesmoke;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: rgb(202, 10, 10);
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.result{
  font-size: 25px;
  font-weight: 600;
}
.left-title{
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.mat-divider {
  border-top-width: 5px;
  border-color: rgb(19, 3, 3);
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
