<!-- <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="well">
  
            <div class="form-group">
              <div class="col-md-12">
                <span class="left-title">
                  Salary
                </span>
                <input type="text" style="width:35%;float:right;" class="form-control" (blur)="tbupdate(0)"
                  [(ngModel)]="query.amount" placeholder="Loan Amount" name="pemi.highValue" />
              </div>
              <ng5-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()">
              </ng5-slider>
            </div>
  
            <hr />
  
            <div class="form-group">
              <div class="col-md-12">
                <span class="left-title">
                  Interest Rate
                </span>
                <input type="text" style="width:44%;float:right;" class="form-control" (blur)="tbupdate(1)"
                  [(ngModel)]="query.interest" placeholder="Interest Rate" name="remi.highValue" />
              </div>
              <ng5-slider [(value)]="remi.value" [options]="roptions" (userChangeEnd)="update()">
              </ng5-slider>
            </div>
  
            <hr />
  
            <div class="form-group">
              <div class="col-md-10">
                <span class="left-title">Loan Tenure</span>
                <input type="text" *ngIf="yrToggel" class="form-control" (blur)="tbupdate(2)"
                  placeholder="Loan Tenure in Yr" [(ngModel)]="query.tenureYr" style="width:30%;float:right;">
                <input type="text" *ngIf="!yrToggel" class="form-control" (blur)="tbupdate(3)"
                  placeholder="Loan Tenure in Mo" [(ngModel)]="query.tenureMo" style="width:30%;float:right;">
              </div>
              <div class="col-md-2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" [ngClass]="{'active':yrToggel}"
                    (click)="yrToggel=true;update()" type="button">Yr</button>
                  <button class="btn btn-outline-secondary" [ngClass]="{'active':!yrToggel}"
                    (click)="yrToggel=false;update()" type="button">Mo</button>
                </div>
              </div>
              <ng5-slider *ngIf="yrToggel" [(value)]="temi.value" [options]="toptions" (userChangeEnd)="update()">
              </ng5-slider>
              <ng5-slider *ngIf="!yrToggel" [(value)]="memi.value" [options]="moptions" (userChangeEnd)="update()">
              </ng5-slider>
            </div>
  
  
          </div>
  
        </div>
        <mat-divider></mat-divider>

        <div class="col-lg-3">
          <div class="well">
  
            <div class="jusify-center">
              <h5>
                Loan EMI
              </h5>
              <span class="result">
                {{result.emi || "--"}}
              </span>
            </div>
  
            <hr />
  
            <div>
              <h5>
                Total Interest Payable
              </h5>
              <span class="result">
                {{result.interest || "--"}}
              </span>
            </div>
  
            <hr />
            <div>
              <h5>
                Total Payment
              </h5>
              <h6>
                (Principal + Interest)
              </h6>
              <span class="result">
                {{result.total || "--"}}
              </span>
            </div>
  
  
  
          </div>
        </div>
      </div>
  </div> -->
<div class="container-fluid page">
  <div class="d-flex page__box p-5 mt-5">Eligibility Check</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
      <hr />
      <div class="form-group">
        <div class="col-md-12">
          <span class="left-title">
            <span class="result">Salary</span>
          </span>
          <input type="text" style="width:35%;float:right;" class="form-control" (blur)="tbupdate(0)"
            [(ngModel)]="query.salary" placeholder="Salary Amount" name="salary.highValue" />
        </div>
        <ng5-slider [(value)]="salary.value" [options]="soptions" (userChangeEnd)="update()">
        </ng5-slider>
      </div>

      <hr />

      <div class="form-group">
        <div class="col-md-12">
          <span class="left-title">
            <span class="result">Gold Assets</span>
          </span>
          <input type="text" style="width:35%;float:right;" class="form-control" (blur)="tbupdate(1)"
            [(ngModel)]="query.gold" placeholder="Gold Assets Amount" name="gold.highValue" />
        </div>
        <ng5-slider [(value)]="gold.value" [options]="goptions" (userChangeEnd)="update()">
        </ng5-slider>
      </div>

      <hr />
      <div class="form-group">
        <div class="col-md-12">
          <div class="example-button-row">
            <button style="width:25%;float:right;" mat-raised-button color="primary" type="button"  (click)="checkEligibility()">Check ELigibility</button>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="isEligibleResponse">
        <div class="col-md-12">
          <span class="left-title">
            <span class="result">Is Eligible :: {{ isEligible ? 'YES' : 'NO' }} Reason :: {{ responseMsg }}</span>
          </span>
      </div>

    </div>
  </div>
  
</div>